body{
    margin: 0px;
    background-color: #f7cac9;
}

#title{
    text-align: center;
}

#results{
    margin: 0px;
    background-color: #f7cac9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    text-align: center;
}

legend{
    font: bold italic 30px "Times New Roman";
}

.character{
    background-color: #034f84;
    width:80%;
    min-height: 100px;
    margin: 3px;
    color: #f7786b;
    padding-left: 10px;
    padding-right: 10px;
}

.description{
    font-weight: bold;
    color: #92a8d1;
}